.pagination {
    display: table;
    margin: auto;
    padding-top: 40px;
}

.pageNumber {
    width: 40px;
}

.number {
    border-radius: 5px;
    background-color: #9abaa6;

}

.number:focus-within {
    background-color: #009879;
}