$background-color-light:  #e4f3ed
$background-color-border:  #96e0bf
$background-color-basic:  #009879


.container
    display: flex

.button
    display: flex
    justify-content: center
    align-items: center
    min-width: 30px
    min-height: 30px
    cursor: pointer
    padding-left: 20px
    padding-right: 20px
    background-color: $background-color-light
    border: solid 1px $background-color-border
    -moz-user-focus: inherit
    transition-duration: 0.4s

    &:hover
     background-color: #82deb6

.currentPageScreen
    display: flex
    justify-content: center
    align-items: center
    min-width: 40px
    min-height: 40px
    background-color: $background-color-light
    border: solid 1px $background-color-border
    font-size: 25px

.arrowLeft
    width: 10px
    height: 10px
    border-top: 3px solid $background-color-basic
    border-right: 3px solid $background-color-basic
    transform: rotate(-135deg)

.doubleArrowLeft
    width: 10px
    height: 10px
    border-top: 3px solid $background-color-basic
    border-right: 3px solid $background-color-basic
    transform: rotate(-135deg)

.doubleArrowRight
    width: 10px
    height: 10px
    border-top: 3px solid $background-color-basic
    border-right: 3px solid $background-color-basic
    transform: rotate(45deg)

.arrowRight
    width: 10px
    height: 10px
    border-top: 3px solid $background-color-basic
    border-right: 3px solid $background-color-basic
    transform: rotate(45deg)
