.container
    display: flex
    flex-wrap: wrap
    margin: auto


.button
    display: flex
    justify-content: center
    align-items: center
    min-width: 40px
    min-height: 40px
    cursor: pointer
    background-color: #e4f3ed
    border: solid 1px #96e0bf
    font-size: 20px
    -moz-user-focus: inherit

.currentPageScreen
    display: flex
    justify-content: center
    align-items: center
    min-width: 40px
    min-height: 40px
    border: solid 1px #96e0bf
    font-size: 25px
