.title {
    text-align: center;
    color: #009879
}

.orderPage {
    display: flex;
    border: solid 1px #59b6a0;
    width: 50%;
    margin: auto;
}

.orderItem {
    padding-left: 20px;
    margin: auto;
    color: #005745;
}
