.contentTable {
    border: 2px solid #009879;
    border-collapse: collapse;
    margin: 25px 0 ;
    font-size: 1em;
    min-width: 400px;
}

.tableHead {

}

.headTR {
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.headerTH {
    padding: 12px 15px;
}

.headerTD {
    padding: 12px 15px;
}

.tableBody {

}

.bodyTR {
    border-bottom: 1px solid #d5cece;
}
.bodyTR:nth-of-type(even) {
   background-color: #e4f3ed;
}

.bodyTR:last-of-type {
    border-bottom: 2px solid #009879;
}
