.table
  margin-top: 5vh

.paginationBlock
  display: flex
  justify-content: space-around
  align-items: center
  margin: 40px 300px 10vh 300px


.span
  margin-left: 2vw
  font-size: 20px

.span2
  font-size: 20px

.selectGroup
  white-space: nowrap

