.contentTable {
    display: table;
    border-collapse: separate;
    margin: 25px 0 0 25px ;
    font-size: 1em;
    min-width: 400px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px #6a706e;
    border: 1px solid darkslategray;
}

.tableHead {

}

.headTR {
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.headerTH {
    padding: 12px 15px;
}

.headerTD  {
    padding: 12px 15px;
}

.headerTD a{
    text-decoration:none;
    color: #00c49f
}

.status_new {
    color: #ffffff;
    background-color: red;
}
.status_completed {
     color: #ffffff;
    background-color: green;
}

.status_assigned_to {
     color: #ffffff;
    background-color: orange;
}

.status_started {
     color: #ffffff;
    background-color: blue;
}

.status_declined {
     color: #ffffff;
    background-color: black;
}

.tableBody tr {
    border-bottom: 1px solid #d5cece;
}

.tableBody tr:nth-of-type(even) {
   background-color: #e4f3ed;
}

.tableBody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tableBody tr.active_row {
font-weight: bold;
    color: #009879;
}
