.table {
    margin-left: 500px;
    margin-top: 200px;
}

.head {
    display: flex;
    border: solid 1px red;
    width: 50vw;
    justify-content: space-around;
}

.tableData{
    text-align: left;
}
.order {


}
